html,
body {
  margin: 0;
  height: 100vh;
  background: rgb(252, 231, 222);
  background: linear-gradient(335deg, rgba(252, 231, 222, 1) 20%, rgba(252, 248, 222, 1) 40%, rgba(222, 252, 224, 1) 60%, rgba(222, 242, 252, 1) 80%, #f0defd 100%);
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
}

/* .backgroundWrap {
  background: #fff;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -600px;
  width: 960px;
  padding: 30px 130px 130px 95px;
} */